<h3>List of Products:</h3>
<div>{{ currentDate | date : "MMM dd yyyy"}}</div>
<div>Search: <input [(ngModel)]="queryString"></div>
<div class="card-deck">
  <div class="card" *ngFor="let product of products | searchData: queryString: 'name' ">
    <!-- <img src="..." class="card-img-top" alt="..."> -->
    <div class="card-header bg-warning">
    	{{ product.name | uppercase }}
    </div>
    <div class="card-body">
      <!-- <h5 class="card-title">Card title</h5> -->
      <p class="card-text">{{ product.description }}</p>
      <p class="card-text"><small class="text-muted">{{ product.price | currency : 'GBP' }}</small></p>
    </div>
	<div class="card-footer">
		<button class="btn btn-primary" (click)="addProductToCart(product)">Add to Cart</button>
	</div>
  </div>
</div>